.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.marked-as-favourite {
    fill: #ff4d4d;
}
.btn-check {
    width: 30%;
    height: 100%;
    z-index: 9;
    clip: unset;
}
#upcoming {
    right: 35%;
}
#top_rated {
    right: 0;
}
